{% extends 'base.html' %}

{% block title %}LogIn Here{% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3">
    <img src="https://source.unsplash.com/1600x400/?phone,contact" class="d-block w-100 " alt="...">
    
</div
<div class="container-fluid px-0 mb-3">
    <h1 class="text-center">Login Here </h1>    
    <h3 class="text-center">Only For Teachers </h3>    

    
    <div class="text-center">
    <form method="post" action="stafflogin">
    {% csrf_token %}
            
            <input type="text" name="username" placeholder="Enter Username"><br>
            
            <input type="password" name="password" placeholder="Enter Password"><br>
            <input type="submit"><br>
            <a href="#" >forgot your password?</a><br>
            <p>Don't Have an account? <a href="register" >Sign Up</a></p>
            
    </form>
    </div>

</div>
<div class="container text-center">
    <div class="contactInfo">
        <div class="box">
            <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
            <div class="text">
                <h2>Address</h2>
                <p>Julana,Jind,Pincode-126114,Haryana</p>
            </div>
        </div>
        <div class="box">
            <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
            <div class="text">
                <h2>Phone</h2>
                <p>+918053182967</p>
            </div>
        </div>
        <div class="box">
            <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
            <div class="text">
                <h2>Email</h2>
                <p>ankitbadgujar78@gmail.com</p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}